@import "./Variables";
@import "./FormLayout.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 100vh;
  overflow: hidden;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;

  .mainTitle {
    font-size: 35px;
    text-align: left;
    font-weight: 600;
    color: black;
  }
}

.mainBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 85vw;
  height: calc(100vh - 80px);
  margin: auto;
  overflow:hidden;
  padding-left: 15vw;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.searchBar {
  display: flex;
  column-gap: 1vw;
}

.table-container {
  width: 85%;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: $boxShadow;
  height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 auto;

  /* Hide scrollbar for Chrome, Safari */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for Internet Explorer/Edge */
  -ms-overflow-style: none;
}

.action-buttons {
  display: flex;
  gap: 8px;

  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }

    iconify-icon {
      color: black;
      font-size: 18px;
    }
  }
}

.view-btn:hover {
  background-color: lightblue;
}

.edit-btn:hover {
  background-color: yellow;
}

.delete-btn:hover {
  background-color: red;
  opacity: 0.8;
}
