@import "./Variables";

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebarLogo {
  width: 10em;
}

.sidebarHeader {
  text-align: center;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.sidebarLinks {
  display: flex;
  flex-direction: column;
  gap: 15px;

  a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black; /* Default color */
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;

    &:hover {
      background: $linkColor; /* Hover background */
    }

    &:active {
      background: $linkColor; /* Active background */
    }
  }

  /* Apply styles to the active link */
  .activeLink {
    background: $linkColor; /* Same background as hover */
    font-weight: bold; /* Optional, to make it stand out */
  }
}
