$primaryBg: white;
$secondary-color: #e0e0e0;
$button-dark: #222; // Changed from full black for better contrast
$button-light: #fff;
$linkColor: #e6e6fa;
$boxShadow: 0 2px 10px rgba(0, 0, 0, 0.1);

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // background-color: $primaryBg; // Ensures full background coverage
  overflow: hidden;
  position: fixed;
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: black;
  font-size: 32px;
}
